@font-face {
  font-family: "optimus";
  src: url(./Fonts/OptimusPrinceps.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: optimus;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
